body {
	background-image: url('./images/Bush_1.png');
}

#spot {
	color: whitesmoke;
}

#overlay {
	background: rgba(0, 0, 225, 0.1);
}

#background {
	height: 210vh;
}

#spottingTitle, #posTitle {
	color: cornsilk;
	position: absolute;
	top: 110vh;
	margin: 2rem;
	margin-top: 1rem;
	font-size: 3rem;
	font-family: "Poppins";
}

#spotting, #camou, #pos, #transition {
	position: absolute;
	top: 110vh;
	margin-top: 5rem;
	width: 100vw;
	height: 50vh;
	display: flex;
}

#img {
	width: 50vw;
	height: 100%;
	margin: 1.5rem;
	object-fit: cover;
	border-radius: 1rem;
}

.paragraph {
	color: white;
	font-family: "Poppins";
	font-size: 1.3rem;
	height: 100%;
	overflow-y: auto;
}

#camou {
	top: 163vh;
}

#posTitle {
	top: 227vh;
}

#pos {
	top: 227vh;
}

#transition {
	top: 282vh;
	height: 15vh;
	align-items: center;
}

#transitionParagraph {
	color: cornsilk;
	font-size: 1.7rem;
	font-family: "Quicksand";
	margin: 1.5rem;
	width: 80vw;
	height: auto;
}

#hitBtn {
	text-decoration: none;
	flex-grow: 1;
	padding: 1rem;
	background-color: #ffc800;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 1.5rem;
	border-radius: 5rem;
	font-family: "Poppins";
	transition: 0.1s;
}

#hitBtn:hover {
	background: #99e9ff;
}

#footer {
	top: 310vh;
}